{% block email %}
===========
EMAIL TEXT:
===========



Hello,

Below you can find the identifier{{ data.plural }} for the newly created device{{ data.plural }}:

{% for ldev in data.ldevs %}
	LUN ID: ____ - LDEV ID: {{ ldev.ldev_id }}  -  SIZE:       {{ ldev.ldev_gb }} GB
{% endfor %}

Please let us know in case of any issues or questions with that.

Best Regards,
ST
{% endblock %}

